@charset "utf-8";
/****************************** 170105 김다미 ******************************/
/* 검색 결과 */
.result_wrap {display:none; position:relative; width:100%; height:auto;}
.result_none {width:100%; line-height:22px; padding-top:60px; background:#eceff4 url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/icon_exclam.png) no-repeat center top; background-size:47px 47px; color:#717f94; text-align:center;}
.filter_box {position:relative; width:100%; height:40px; padding:5px 10px; box-sizing:border-box; background-color:#fff;}
.filter_box select {width:100%; height:30px; border:none; outline:none; background:none; color:#46526c; font-size:13px; font-weight:700; font-family:'NanumSquare'; line-height:30px; appearance:none;-webkit-appearance:none; -o-appearance:none; -moz-appearance:none;}
.result_filter {float:left; width:80px; height:100%; margin-right:10px;}
.result_filter select {padding:0 15px 0 7px; border:1px solid #d8deea; border-radius:5px; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_drop01.png) 92% 50% no-repeat; background-size:12px 7px; box-sizing:border-box;}
.result_align {float:right; width:75px; height:100%;}
.result_align select {background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_drop03.png) 92% 50% no-repeat; background-size:12px 7px;}
.result_filter span, .result_align span {display:none;}
.result_info {position:relative; width:100%; height:30px; padding:0 10px; border-bottom:1px solid #3d4964; background-color:#46526c; color:#fff; font-size:14px; line-height:30px; box-sizing:border-box;letter-spacing:-0.5px;}
.result_info .result_num {color:#fff844;}

/****************************** 170109 김다미 ******************************/
body{background-color:#eceff4;}
#header{padding:0 10px; box-sizing:border-box;}
.br_bot{border-bottom:1px solid #d8deea}
.select{background:rgba(0,0,0,0.05);}

/* 검색 헤더 */
.srch_bg {position:relative; top:5px; left:0px; width:100%; height:35px; padding:0 70px 0 35px; border-radius:3px; background-color:#fff; box-sizing:border-box;}
.srch_bg .srch_btn {position:absolute; top:0; width:35px; height:35px; padding:0; border:0; background-color:transparent; -webkit-appearance:none;}
.srch_bg .srch_back {left:0; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_srch_back.png) no-repeat center center; background-size:13px 20px;}
.srch_bg .srch_voice {right:0; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_srch_voice.png) no-repeat center center; background-size:13px 22px;}
.srch_bg .srch_del {display:none; right:35px; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/img_btn_closed.png) no-repeat center center; background-size:18px 18px;}
.srch_bg .srch_on {display:none; right:0; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_srch_on.png) no-repeat center center; background-size:23px 18px;}
.srch_bg .srch_btn a {display:block; width:100%; height:100%; text-indent:-9999px;}
.srch_bg input[type="text"] {display:block; width:100%; height:14px; padding:11px 0 10px 0; border:none; outline:none; background-color:#fff; box-shadow:none; font-size:14px; line-height:14px;}
.srch_bg input[type="text"]::-ms-clear {display: none;}

/* 음성 검색 */
#voice_srch{display:none; position:fixed; top:0; right:0; left:0; bottom:0; z-index:900; width:100%; height:100%; background-color:#eceff4;}
.btn_voice_x {position:absolute; top:0; right:0; width:90px; height:90px; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/btn_srch_x.png) no-repeat 80% 15px; background-size:20px 20px;}
.btn_voice_x a {display:block; width:100%; height:100%; text-indent:-9999px;}
.voice_wrap {position:fixed; top:50%; width:100%; height:160px; margin-top:-80px;}
.voice_wrap_on {position:fixed; top:50%; width:100%; height:160px; margin-top:-80px;}
.voice_wrap .voice_ico {position:relative; width:75px; height:75px; margin:0 auto;}
.voice_wrap .voice_on{position:absolute; z-index:10; top:0; left:0; width:100%; height:100%; border-radius:100%; background:#0081d4 url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_srch_voice02.png) no-repeat center center; background-size:20px 32px; opacity:0; transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -ms-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; transform:scale(0.5); -webkit-transform:scale(0.5); -ms-transform:scale(0.5); -moz-transform:scale(0.5); -o-transform:scale(0.5);}
.voice_wrap_on .voice_on{opacity:1; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1);}
.voice_wrap .btn_grd_white{position:absolute; z-index:5; top:0; left:0; width:100%; height:100%; bord
er:1px solid #d8deea; border-radius:100%; box-sizing:border-box; opacity:1; transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -ms-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1);}
.voice_wrap_on .btn_grd_white{opacity:0; transform:scale(0.5); -webkit-transform:scale(0.5); -ms-transform:scale(0.5); -moz-transform:scale(0.5); -o-transform:scale(0.5)}
.voice_wrap .btn_grd_white a {display:block; width:100%; height:100%; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_srch_voice.png) no-repeat center center; background-size:20px 32px;}
.voice_wrap .voice_ripple {position:absolute; top:-10px; left:-10px; width:95px; height:95px; background:rgba(0,0,0,0.05); border-radius:100%; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1);}
@keyframes voice_ripple {
    10%{transform: scale(0.9);}
    30% {transform: scale(1.7);}
    40% {transform: scale(1.7);}
    100% {transform: scale(1);}
}
.voice_wrap_on .voice_ripple{animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -webkit-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -ms-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -moz-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -o-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41);}
.voice_wrap .voice_txt {width:100%; padding-top:55px; color:#909dad; text-align:center; font-size:18px; font-weight:700;}

/****************************** 170111 김다미 ******************************/
/* 최근검색 및 추천검색 */
.history_wrap{position:absolute; z-index:20; top:45px; left:0px; width:100%; height:auto; padding:0 10px; box-sizing:border-box;}
.srch_history {position:relative; width:100%; height:auto; background-color:#fff;}
.srch_history ul {display:none; position:relative; width:100%; height:auto;}
.srch_history li {position:relative; width:100%; height:40px; border-bottom:1px solid #d8deea;}
.srch_history li:last-of-type {border-bottom:none;}

#jobCtgr_srchWord li a{display:block; width:100%; height:100%; padding:12px 10px 12px 20px; font-size:14px; line-height:14px; box-sizing:border-box;}
#jobCtgr_srchWord li a:active{background:rgba(0,0,0,0.05);}
#jobCtgr_srchWord li a span{font-weight:700; color:#04d464;}

#recommend_srchWord li a{display:block; width:100%; height:100%; padding:12px 10px 12px 40px; font-size:14px; line-height:14px; box-sizing:border-box; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_recommend.png) no-repeat 20px 12px; background-size:11px 11px;}
#recommend_srchWord li a:actvie{background:rgba(0,0,0,0.05) url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_recommend.png) no-repeat 20px 12px; background-size:11px 11px;}

#latest_srchWord li > a{display:block; width:100%; height:100%; padding:12px 40px 12px 20px; font-size:14px; line-height:14px; box-sizing:border-box;}
#latest_srchWord li > a:active{background:rgba(0,0,0,0.05);}
#latest_srchWord li > div{position:absolute; top:0; right:0; width:40px; height:40px;}
#latest_srchWord li > div > a{display:block; width:100%; height:100%; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/img_btn_del.png) no-repeat center center; background-size:12px 12px; text-indent:-9999px;}
#latest_srchWord li .history_all_del {display:block; width:100%; height:100%; padding:12px 20px; color:#abb7c5; font-size:14px; font-weight:700; text-align:center; line-height:14px; box-sizing:border-box;}

/* 검색 로딩 */
.lodingBall {position: absolute; top:215px; left:47%; margin:0; display:none;}
.lodingBall .wBall {position: absolute; width: 24px; height: 24px; opacity: 100%; transform: rotate(225deg); -o-transform: rotate(225deg); -ms-transform: rotate(225deg); -webkit-transform: rotate(225deg); 	-moz-transform: rotate(225deg); animation: orbit 3.6325s infinite; 	-o-animation: orbit 3.6325s infinite; 	-ms-animation: orbit 3.6325s infinite; -webkit-animation: orbit 3.6325s infinite; -moz-animation: orbit 3.6325s infinite;}
.lodingBall .wBall .wInnerBall{position: absolute; width: 4px; height: 4px; background: rgb(0,0,0); left:0px; top:0px; border-radius: 10px;}
.lodingBall #wBall_1 {animation-delay: 0.796s; -o-animation-delay: 0.796s; -ms-animation-delay: 0.796s; -webkit-animation-delay: 0.796s; -moz-animation-delay: 0.796s;}
.lodingBall #wBall_2 {animation-delay: 0.153s; -o-animation-delay: 0.153s; -ms-animation-delay: 0.153s; -webkit-animation-delay: 0.153s; -moz-animation-delay: 0.153s;}
.lodingBall #wBall_3 {animation-delay: 0.3165s; -o-animation-delay: 0.3165s; -ms-animation-delay: 0.3165s; -webkit-animation-delay: 0.3165s; -moz-animation-delay: 0.3165s;}
.lodingBall #wBall_4 {animation-delay: 0.4695s; -o-animation-delay: 0.4695s; -ms-animation-delay: 0.4695s; -webkit-animation-delay: 0.4695s; -moz-animation-delay: 0.4695s;}
.lodingBall #wBall_5 {animation-delay: 0.633s; -o-animation-delay: 0.633s; -ms-animation-delay: 0.633s; -webkit-animation-delay: 0.633s; -moz-animation-delay: 0.633s;}
@keyframes orbit {
	0% {opacity: 1; z-index:99; transform: rotate(180deg); animation-timing-function: ease-out;}
	7% {opacity: 1; transform: rotate(300deg); animation-timing-function: linear; origin:0%;}
	30% {opacity: 1; transform:rotate(410deg); animation-timing-function: ease-in-out; origin:7%;}
	39% {opacity: 1; transform: rotate(645deg); animation-timing-function: linear; origin:30%;}
	70% {opacity: 1; transform: rotate(770deg); animation-timing-function: ease-out; origin:39%;}
	75% {opacity: 1; transform: rotate(900deg); animation-timing-function: ease-out; origin:70%;}
	76% {opacity: 0; transform:rotate(900deg);}
	100% {opacity: 0; transform: rotate(900deg);}
}

@-o-keyframes orbit {
	0% {opacity: 1; z-index:99; -o-transform: rotate(180deg); -o-animation-timing-function: ease-out;}
	7% {opacity: 1; -o-transform: rotate(300deg); -o-animation-timing-function: linear; origin:0%;}
	30% {opacity: 1; -o-transform:rotate(410deg); -o-animation-timing-function: ease-in-out; origin:7%;}
	39% {opacity: 1; -o-transform: rotate(645deg); -o-animation-timing-function: linear; origin:30%;}
	70% {opacity: 1; -o-transform: rotate(770deg); -o-animation-timing-function: ease-out; origin:39%;}
	75% {opacity: 1; -o-transform: rotate(900deg); -o-animation-timing-function: ease-out; origin:70%;}
	76% {opacity: 0; -o-transform:rotate(900deg);}
	100% {opacity: 0; -o-transform: rotate(900deg);}
}

@-ms-keyframes orbit {
	0% {opacity: 1; z-index:99; -ms-transform: rotate(180deg); -ms-animation-timing-function: ease-out;}
	7% {opacity: 1; -ms-transform: rotate(300deg); -ms-animation-timing-function: linear; origin:0%;}
	30% {opacity: 1; -ms-transform:rotate(410deg); -ms-animation-timing-function: ease-in-out; origin:7%;}
	39% {opacity: 1; -ms-transform: rotate(645deg); -ms-animation-timing-function: linear; origin:30%;}
	70% {opacity: 1; -ms-transform: rotate(770deg); -ms-animation-timing-function: ease-out; origin:39%;}
	75% {opacity: 1; -ms-transform: rotate(900deg); -ms-animation-timing-function: ease-out; origin:70%;}
	76% {opacity: 0; -ms-transform:rotate(900deg);}
	100% {opacity: 0; -ms-transform: rotate(900deg);}
}

@-webkit-keyframes orbit {
	0% {opacity: 1; z-index:99; -webkit-transform: rotate(180deg); -webkit-animation-timing-function: ease-out;}
	7% {opacity: 1; -webkit-transform: rotate(300deg); -webkit-animation-timing-function: linear; origin:0%;}
	30% {opacity: 1; -webkit-transform:rotate(410deg); -webkit-animation-timing-function: ease-in-out; origin:7%;}
	39% {opacity: 1; -webkit-transform: rotate(645deg); -webkit-animation-timing-function: linear; origin:30%;}
	70% {opacity: 1; -webkit-transform: rotate(770deg); -webkit-animation-timing-function: ease-out; origin:39%;}
	75% {opacity: 1; -webkit-transform: rotate(900deg); -webkit-animation-timing-function: ease-out; origin:70%;}
	76% {opacity: 0; -webkit-transform:rotate(900deg);}
	100% {opacity: 0; -webkit-transform: rotate(900deg);}
}

@-moz-keyframes orbit {
	0% {opacity: 1; z-index:99; -moz-transform: rotate(180deg); -moz-animation-timing-function: ease-out;}
	7% {opacity: 1; -moz-transform: rotate(300deg); -moz-animation-timing-function: linear; origin:0%;}
	30% {opacity: 1; -moz-transform:rotate(410deg); -moz-animation-timing-function: ease-in-out; origin:7%;}
	39% {opacity: 1; -moz-transform: rotate(645deg); -moz-animation-timing-function: linear; origin:30%;}
	70% {opacity: 1; -moz-transform: rotate(770deg); -moz-animation-timing-function: ease-out; origin:39%;}
	75% {opacity: 1; -moz-transform: rotate(900deg); -moz-animation-timing-function: ease-out; origin:70%;}
	76% {opacity: 0; -moz-transform:rotate(900deg);}
	100% {opacity: 0; -moz-transform: rotate(900deg);}
}
